.sidebar-header {
    background-color: #343838;
}
.header-pic {
    background: url('../../../assets/img/box_sphere_light_1024_solid_glass.png') no-repeat center center;
    background-color: #343838;
    background-size: cover;
    /*width: 256px;*/
    width: 256px;
    height: 256px;
    /*border-radius: 3px;*/
}

@media (min-width: 600px) {
    .header-pic {
        width: 256px;
        height: 256px;
    }
}

.sidebar-icon {
    width: 24px !important;
    height: 24px !important;
    margin-right: 16px;
}

.linkedin-icon {
    width: 100%;
    background-size: cover;
    background-image: url('../../../assets/img/linkedin.svg');
    border-radius: 2px !important;
}
.github-icon {
    width: 100%;
    background-size: cover;
    background-image: url('../../../assets/img/mark-github.svg');
    border-radius: 2px !important;
}

.router-link-active {
    background: rgba(0, 0, 0, 0.07);
    font-weight: 600;
}