.sidebar-header {
    background-color: #343838;
}
.header-pic {
    background: url('../../../img/box_sphere_light_1024_solid_glass.png') no-repeat center center;
    background-color: #343838;
    background-size: cover;
    /*width: 256px;*/
    width: 320px;
    height: 320px;
    /*border-radius: 3px;*/
}

md-sidenav {
    .md-list-avatar {
        md-icon {
            height: auto !important;
        }
    }
}