.sidebar-header {
    background-color: #343838;
}
.header-pic {
    background: url('/img/box_sphere_light_1024_solid_glass.png') no-repeat center center;
    background-color: #343838;
    background-size: cover;
    /*width: 256px;*/
    width: 256px;
    height: 256px;
    /*border-radius: 3px;*/
}

@media (min-width: 600px) {
    .header-pic {
        width: 320px;
        height: 320px;
    }
}

md-sidenav md-nav-list {
    md-icon[md-list-avatar] {
        &.align-left {
            width: 24px;
            height: 24px;
            margin-right: 16px;
        }
    }
}