<!--<md-sidenav md-component-id="left" class="md-sidenav-left" md-whiteframe="2" md-is-locked-open="$mdMedia('gt-sm')">-->
<!--<md-toolbar class="md-primary" layout="row" layout-align="center">-->
<!--<h1 class="md-headline" ui-sref="app.home">Home</h1>-->
<!--</md-toolbar>-->
<header class="sidebar-header md-primary" layout="column" layout-align="center center">
	<div class="header-pic"></div>
	<!--<img class="sidebar-img" src="../../../img/box_sphere_light_1024_solid_glass.png" alt="Totally sweet render of a glass ball and mirror ball in a Cornell box">-->
</header>
<md-toolbar class="md-primary" layout="row" layout-align="center space-around">
	<h1 class="md-headline">Evan Carey</h1>
</md-toolbar>
<md-content flex class="md-primary">
	<ul ng-repeat="section in $ctrl.items">
		<h2 class="menu-heading md-subhead">{{ section.label }}</h2>
		<li ng-repeat="page in section.children">
			{{ page.label }}
		</li>
	</ul>
</md-content>

<!--</md-sidenav>-->