// import angular-material
@import "~angular-material/angular-material.min.css";

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #212121;
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
}

.loader {
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 24px;
  display: block;
  text-align: center;
  font-weight: 700;
}