@import './material-theme.scss';
@import './loader.scss';

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #212121;
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
}